.wrapper {
    height: 100vh;
    background: url('../img/bg.jpg');
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.text-1,
.text-1-2 {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 48px;
    color: #000;
    opacity: 0;
    padding: 10px;
    border-radius: 15px;
    background: #fff;
    z-index: 5;
    animation: text-1 2.5s linear 14s forwards;
}
.text-1-2{
    animation: text-1 2.5s linear 21s forwards;
}

.text-2,
.text-2-2 {
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-size: 48px;
    color: #000;
    opacity: 0;
    padding: 10px;
    border-radius: 15px;
    background: #fff;
    z-index: 5;
    animation: text-1 2.5s linear 16s forwards;
}

.text-2-2 {
    animation: text-1 2.5s linear 19s forwards;
}

@keyframes text-1 {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    20% {
        opacity: 1;
        visibility: visible;
    }

    80% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes text-2 {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    20% {
        opacity: 1;
        visibility: visible;
    }

    80% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.caps-1 {
    width: 300px;
    height: 300px;
    position: absolute;
    right: -300px;
    top: -300px;
    z-index: 3;
    animation: caps-1 .7s linear 11s forwards, move-bot-1 .7s linear 18s forwards;

    img {
        width: 100%;
    }
}

.caps-2 {
    width: 300px;
    height: 300px;
    position: absolute;
    left: -300px;
    bottom: -300px;
    z-index: 4;
    animation: caps-2 .7s linear 12s forwards, move-bot-2 .7s linear 18s forwards;

    img {
        width: 100%;
    }
}

.card {
    position: relative;
    overflow: hidden;
    width: 136px;
    height: 210px;

    &:hover.card--rotate .card__face {
        transform: rotateY(0deg);
    }

    &:hover.card--rotate .card__back {
        transform: rotateY(180deg);
    }

    // .card__face
    &__face {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: transform .5s;
        border-radius: 10px;
    }

    // .card__back
    &__back {
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        backface-visibility: hidden;
        transform: rotateY(0deg);
        transition: transform .5s;
    }
}

.card-deck {
    position: relative;

    // animation: name duration timing-function delay iteration-count direction fill-mode;
    .card {
        position: absolute;

        &:last-child {
            animation: deck .7s linear 0s 8;
        }

        &:first-child {
            animation: move1 .7s linear 5.6s forwards, move-top .7s linear 16.3s forwards;

            & .card__face {
                animation: rotate-face .7s linear 6.3s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 6.3s forwards;
            }
        }

        &:nth-child(2) {
            animation: move2 .7s linear 6.1s forwards, move-top .7s linear 16.3s forwards;

            & .card__face {
                animation: rotate-face .7s linear 7s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 7s forwards;
            }
        }

        &:nth-child(3) {
            animation: move3 .7s linear 6.6s forwards, move-top .7s linear 16.3s forwards;

            & .card__face {
                animation: rotate-face .7s linear 7.3s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 7.3s forwards;
            }
        }

        &:nth-child(4) {
            animation: move4 .7s linear 7.1s forwards, move-top .7s linear 16.3s forwards;

            & .card__face {
                animation: rotate-face .7s linear 7.8s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 7.8s forwards;
            }
        }

        &:nth-child(5) {
            animation: move5 .7s linear 7.6s forwards, move-top .7s linear 16.3s forwards;

            & .card__face {
                animation: rotate-face .7s linear 8.3s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 8.3s forwards;
            }
        }

        &:nth-child(6) {
            animation: move6 .7s linear 8s forwards;

            & .card__face {
                animation: rotate-face .7s linear 14s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 14s forwards;
            }
        }

        &:nth-child(7) {
            animation: move7 .7s linear 8.5s forwards;

            & .card__face {
                animation: rotate-face .7s linear 14s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 14s forwards;
            }
        }

        &:nth-child(8) {
            animation: move8 .7s linear 9s forwards;

            & .card__face {
                animation: rotate-face .7s linear 14s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 14s forwards;
            }
        }

        &:nth-child(9) {
            animation: move9 .7s linear 9.5s forwards;

            & .card__face {
                animation: rotate-face .7s linear 14s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 14s forwards;
            }
        }

        &:nth-child(10) {
            animation: move10 .7s linear 10s forwards;

            & .card__face {
                animation: rotate-face .7s linear 14s forwards;
            }

            & .card__back {
                animation: rotate-back .7s linear 14s forwards;
            }
        }

        // .card__face
        &__face {}

        // .card__back
        &__back {}
    }
}

@keyframes deck {

    0% {
        left: 0px;
        z-index: 2;
    }

    50% {
        left: 150px;
        z-index: 2;
    }

    65% {
        z-index: 1;
    }

    100% {
        left: 0px;
        z-index: 1;
    }
}

@keyframes move1 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 30%;
        top: 600px;
    }
}

@keyframes move2 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 40%;
        top: 600px;
    }
}

@keyframes move3 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 50%;
        top: 600px;
    }
}

@keyframes move4 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 60%;
        top: 600px;
    }
}

@keyframes move5 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 70%;
        top: 600px;
    }
}

@keyframes move6 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 30%;
        top: 50px;
    }
}

@keyframes move7 {
    0% {
        left: 0%;
        top: 50px;
    }

    100% {
        left: 40%;
        top: 50px;
    }
}

@keyframes move8 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 50%;
        top: 50px;
    }
}

@keyframes move9 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 60%;
        top: 50px;
    }
}

@keyframes move10 {
    0% {
        left: 0%;
        top: 0px;
    }

    100% {
        left: 70%;
        top: 50px;
    }
}

@keyframes rotate-face {
    0% {}

    100% {
        transform: rotateY(0deg);
    }
}

@keyframes rotate-back {
    0% {}

    100% {
        transform: rotateY(180deg);
    }
}

@keyframes caps-1 {
    0% {}

    100% {
        right: 30%;
        top: 300px;
    }
}

@keyframes caps-2 {
    0% {}

    100% {
        left: 35%;
        bottom: 320px;
    }
}


@keyframes move-top {
    0% {}

    100% {
        top: 570px;
        z-index: 6;
    }
}

@keyframes move-bot-1 {
    0% {}

    100% {
        top: 100vh;
        z-index: 7;
    }
}

@keyframes move-bot-2 {
    0% {}

    100% {
        bottom: -100vh;
        z-index: 7;
    }
}