@import url('reset.css');
@import url('iconfonts.css');

// ============================================================================

@font-face {
    font-family: 'Lato';
    src: url("../fonts/latoregular.woff2") format("woff2"),
        url("../fonts/latoregular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/latobold.woff2") format("woff2"),
        url("../fonts/latobold.woff2") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/latoblack.woff2") format("woff2"),
        url("../fonts/latoblack.woff") format("woff");
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}


// ============================================================================

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #424551;
    line-height: 160%;

    &>main {
        flex: 1 1 auto;
    }
}

[class*='__container'] {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 15px;
    border-radius: 5px;
    position: relative;
}

.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.subtitle {
    font-weight: 700;
    line-height: 150%;
    color: #1E212C;
    text-transform: uppercase;
}

.text {}

.join-btn {
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    font-size: 14px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    color: #fff;
    border: 1px solid #ff3f3a;
    transition: all .5s;
}

.join-btn:hover {
    background: rgba(255, 255, 255, 0);
    color: #ff3f3a;
}

.share {
    display: flex;
    font-weight: 700;

    &__list {
        display: flex;
    }

    [class^="_icon-"],
    [class*=" _icon-"] {
        color: #787A80;
        transition: all .3s;
        font-size: 20px;
    }

    [class^="_icon-"]::before,
    [class*=" _icon-"]::before {}

    [class^="_icon-"]:hover,
    [class*=" _icon-"]:hover {
        color: #FF3F3A;
    }
}




// ============================================================================



.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.95) linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);

    // .header__container
    &__container {}

    // .header__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 160%;
    }

    // .header__logo
    &__logo {
        margin-right: 60px;
    }

    // .header__menu
    &__menu {}

    // .header__buttons
    &__buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}

.menu {

    // .menu__list
    &__list {
        display: flex;
    }

    // .menu__item
    &__item {
        position: relative;
    }

    &__item:hover {
        color: rgba(255, 63, 58, 1);
    }

    &__item::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 0;
        background-color: rgba(255, 63, 58, 1);
        transition-duration: 0.3s;
    }

    &__item:hover:before {
        width: 100%;
        left: 0;
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }

    // .menu__item--active
    &__item--active {
        color: #FF3F3A;
    }
}

.buttons {

    // .buttons__consultation
    &__consultation {
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.5px;
        padding: 0 40px;
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        border-radius: 4px;
        border: 1px solid #ff3f3a;
        color: #fff;
        margin-right: 36px;
        transition: all .5s;
    }

    &__consultation:hover {
        background: rgba(255, 255, 255, 0);
        color: #ff3f3a;
    }

    // .buttons__user
    &__user {}

    // .buttons__login
    &__login {
        transition: all .3s;
    }


    &__login::before {
        margin-right: 10px;
    }

    &__login::after {
        content: ' /';
        color: #424551;
    }

    &__login:hover::after {
        color: #424551;
    }

    // .buttons__registr
    &__registr {
        transition: all .3s;
    }

    &__login:hover,
    &__registr:hover {
        color: #ff3f3a;
    }
}


// ============================================================================



.event {
    background: url(../img/circles.svg) 0 100% no-repeat,
        url(../img/dots.svg) 100% 123px no-repeat,
        url(../img/shapes.svg) 10% 128px no-repeat,
        url(../img/arrows.svg) 90% 100% no-repeat,
        linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    margin-bottom: 120px;

    // .event__container
    &__container {
        text-align: center;
        padding: 192px 0 120px;
    }

    // .event__subtitle
    &__subtitle.subtitle {
        color: #FF3F3A;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    // .event__title
    &__title {
        max-width: 1020px;
        margin: 0 auto;
    }
}



// ============================================================================


.about-course {

    // .about-course__container
    &__container {}

    // .about-course__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 180px;
        align-items: start;
    }

    // .about-course__description
    &__description {
        max-width: 600px;
    }

    // .about-course__sidebar
    &__sidebar {
        max-width: 495px;
    }
}

.description {
    margin-right: 15px;

    // .description__title
    &__title:not(:last-child) {
        margin-bottom: 40px;
    }

    // .description__text
    &__text:not(:last-child) {
        margin-bottom: 48px;
    }

    // .description__subtitle
    &__subtitle {
        font-size: 28px;
        text-transform: unset;
    }

    &__subtitle:not(:last-child) {
        margin-bottom: 24px;
    }

    // .description__list
    &__list:not(:last-child) {
        margin-bottom: 24px;
    }

    // .description__item
    &__item {
        padding-left: 32px;
        position: relative;

        &[class^="_icon-"]::before,
        &[class*=" _icon-"]::before {
            position: absolute;
            left: 0;
            top: 5.7px;
            color: #FF3F3A;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 4px;
    }
}

.sidebar {
    border: 1px solid #E5E8ED;
    padding: 40px 32px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;

    // .sidebar__block
    &__block {
        margin-bottom: 32px;
    }

    &__block:last-of-type {
        margin-bottom: 40px;
    }

    // .sidebar__title
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 4px;
    }

    // .sidebar__info
    &__info {}

    // .sidebar__info-subtitle
    &__info-subtitle {
        color: #FF3F3A;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 8px;
    }

    // .sidebar__info-text
    &__info-text {
        color: #787A80;
    }

    // .sidebar__join
    &__join {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}



// ============================================================================


.curator {
    // background: url(../img/circle-curator.svg) calc(50% - 639px) 0 no-repeat;
    padding-top: 66px;
    margin-bottom: 180px;

    // .curator__container
    &__container {}

    // .curator__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    // .curator__img
    &__img {
        max-width: 495px;
        margin-right: 55px;
        position: relative;

        img {
            left: 19px;
        }
    }

    &__img::before {
        position: absolute;
        content: '';
        width: 250px;
        height: 250px;
        top: -65px;
        left: -160px;
        background: url(../img/circle-curator.svg) 0 0 no-repeat;
        z-index: -1;
    }

    &__img::after {
        position: absolute;
        content: '';
        width: 495px;
        height: 580px;
        top: 20px;
        left: -19px;
        background: #FFCF2D;
        border-radius: 4px;
        z-index: -1;
    }

    // .curator__info
    &__info {
        padding-top: 20px;
        max-width: 600px;
    }

    // .curator__subtitle
    &__subtitle:not(:last-child) {
        margin-bottom: 8px;
    }

    // .curator__title
    &__title:not(:last-child) {
        margin-bottom: 16px;
    }

    // .curator__position
    &__position {
        font-size: 20px;
        line-height: 150%;
        color: #787A80;
    }

    &__position:not(:last-child) {
        margin-bottom: 32px;
    }

    // .curator__statistics
    &__statistics {
        margin-bottom: 32px;

        &>* {
            padding-left: 24px;
            position: relative;
            font-weight: 700;
        }

        &>[class^=_icon-]::before,
        &>[class*=" _icon-"]::before {
            position: absolute;
            left: 0;
            top: 0;
            padding: 5.7px 0;
            color: #FF3F3A;
        }

        &>*:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    // .curator__text
    &__text:not(:last-child) {
        margin-bottom: 40px;
    }

    // .curator__share
    &__share .share__item:not(:last-child) {
        margin-right: 30px;
    }
}

.statistics {

    // .statistics__rate
    &__rate {}

    // .statistics__courses
    &__courses {}

    // .statistics__students
    &__students {}
}



// ============================================================================


.homework {

    margin-bottom: 50px;

    &>*:last-child {
        margin-bottom: 0;
    }

    // .homework__container
    &__container {}
}

.orange-btn {
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    font-size: 14px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    color: #fff;
}

.state {
    position: relative;

    // .state__link
    &__link {
        display: block;
        padding: 20px 0;
        text-align: center;
    }

    &__link:not(:last-of-type) {
        margin-bottom: 50px;
    }

    &__link:nth-child(odd):hover {
        background: linear-gradient(90deg, #eb716c 100%, #F75E05 0%);
        text-transform: uppercase;
    }

    &__link:nth-child(even):focus {
        outline: 15px dotted red;
    }

    &__link:nth-child(2) {
        text-transform: uppercase;
        position: relative;
        background: linear-gradient(90deg, #73e257 0%, #1619c7 50%);
    }

    &__link:nth-child(2):before,
    &__link:nth-child(2):after {
        line-height: 30px;
        content: '';
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: url(../img/icons/star.svg) 50% 50% no-repeat, #fff;
        display: inline-block;
        vertical-align: middle;
    }


    &__link:active {
        background: linear-gradient(90deg, #eb716c 0%, #F75E05 50%);
    }

    &__link:visited {
        color: #fff111;
    }

    &__link {
        display: block;
        padding: 20px 0;
        text-align: center;
        transition: all .5s;
    }

    #hidden-div {
        display: none;
        color: #E5E8ED;
        font-size: 32px;
        font-weight: 900;
        position: absolute;
        left: 50%;
        top: -155px;
        transform: translateX(-50%);
        border-radius: 50%;
        height: 150px;
        width: 150px;
        background: linear-gradient(90deg, #73e257 0%, #1619c7 50%);
        transition: all .5s;
    }

    #hidden-div:target {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hidden-circle {
        display: none;
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: linear-gradient(90deg, #73e257 0%, #1619c7 50%);
        color: #e92b74;
        font-size: 32px;
        font-weight: 900;
        top: -100px;
        scale: 0;
        transition: all .5s;
    }

    .hidden-circle:nth-of-type(2) {
        left: 10px;
    }

    .hidden-circle:nth-of-type(3) {
        left: 300px;
    }

    .hidden-circle:nth-of-type(4) {
        left: 750px;
    }

    .hidden-circle:nth-of-type(5) {
        left: 950px;
    }

    #hidden-div:hover {
        scale: 2;
    }

    #hidden-div:hover~* {
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 1;
    }
}




// ============================================================================

.game {
    margin-bottom: 50px;
    cursor: crosshair;

    &__field {
        height: 550px;
        width: 100%;
        border-radius: 10px;
        background: #f1d6d5;
    }
}

.path-start.path {
    position: relative;
    height: 50px;
    width: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.path {
    transition: all 0.3s;
    visibility: hidden;
    background-color: #FF3F3A;
}

.path-start:hover+.path {
    visibility: visible;
}

.path:hover {
    visibility: visible;
}

.path:hover+.path {
    visibility: visible;
}


.first {
    width: 50%;
    height: 50px;
}

.second {
    width: 30%;
    height: 50px;
    margin-left: 40%;
}

.third {
    width: 10%;
    height: 150px;
    margin-left: 60%;
}

.fourth {
    width: 50%;
    height: 50px;
    margin-left: 20%;
}

.fifth {
    width: 4%;
    height: 50px;
    margin-left: 20%;
}

.sixth {
    width: 30%;
    height: 20px;
    margin-left: 20%;
}

.seventh {
    width: 1%;
    height: 80px;
    margin-left: 49%;
}

.finish {
    width: 11%;
    height: 50px;
    margin-left: 44%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__field:has(> .finish:hover) {
    background: url(../img/thatsallfolkx.webp) center/cover no-repeat;
}


// ============================================================================




.footer {
    height: 50px;
    background: #1E212C;
}