.header {
    padding-top: 10px;

    // .header__container
    &__container {
        display: flex;
        justify-content: space-between;
    }

    // .header__logo
    &__logo {
        width: 300px;
        height: 50px;
    }

    // .header__logo-img
    &__logo-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}


.header-menu {

    // .header-menu__list
    &__list {
        display: flex;
        list-style: none;
    }

    // .header-menu__item
    &__item {
        margin: 0px 0px 0px 15px;
    }

    // .header-menu__link
    &__link {
        text-decoration: none;
        text-transform: uppercase;
    }
}