@import url("reset.css");
@import url("iconfonts.css");
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff2") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424551;
  line-height: 160%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 15px;
  border-radius: 5px;
  position: relative;
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.subtitle {
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
  text-transform: uppercase;
}

.join-btn {
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  font-size: 14px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: #fff;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}
.share__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.share [class^=_icon-],
.share [class*=" _icon-"] {
  color: #787A80;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 20px;
}
.share [class^=_icon-]:hover,
.share [class*=" _icon-"]:hover {
  color: #FF3F3A;
}

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 20px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 160%;
}
.header__logo {
  margin-right: 60px;
}
.header__buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
.menu__item--active {
  color: #FF3F3A;
}

.buttons__consultation {
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  padding: 0 40px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: #fff;
  margin-right: 36px;
}
.event {
  background: url(../img/circles.svg) 0 100% no-repeat, url(../img/dots.svg) 100% 123px no-repeat, url(../img/shapes.svg) 10% 128px no-repeat, url(../img/arrows.svg) 90% 100% no-repeat, -o-linear-gradient(34.05deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: url(../img/circles.svg) 0 100% no-repeat, url(../img/dots.svg) 100% 123px no-repeat, url(../img/shapes.svg) 10% 128px no-repeat, url(../img/arrows.svg) 90% 100% no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  margin-bottom: 120px;
}
.event__container {
  text-align: center;
  padding: 192px 0 120px;
}
.event__subtitle.subtitle {
  color: #FF3F3A;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.event__title {
  max-width: 1020px;
  margin: 0 auto;
}

.about-course__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 180px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.about-course__description {
  max-width: 600px;
}
.about-course__sidebar {
  max-width: 495px;
}

.description {
  margin-right: 15px;
}
.description__title:not(:last-child) {
  margin-bottom: 40px;
}
.description__text:not(:last-child) {
  margin-bottom: 48px;
}
.description__subtitle {
  font-size: 28px;
  text-transform: unset;
}
.description__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.description__list:not(:last-child) {
  margin-bottom: 24px;
}
.description__item {
  padding-left: 32px;
  position: relative;
}
.description__item[class^=_icon-]::before, .description__item[class*=" _icon-"]::before {
  position: absolute;
  left: 0;
  top: 5.7px;
  color: #FF3F3A;
}
.description__item:not(:last-child) {
  margin-bottom: 4px;
}

.sidebar {
  border: 1px solid #E5E8ED;
  padding: 40px 32px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.sidebar__block {
  margin-bottom: 32px;
}
.sidebar__block:last-of-type {
  margin-bottom: 40px;
}
.sidebar__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.sidebar__info-subtitle {
  color: #FF3F3A;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 8px;
}
.sidebar__info-text {
  color: #787A80;
}
.sidebar__join {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.curator {
  padding-top: 66px;
  margin-bottom: 180px;
}
.curator__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.curator__img {
  max-width: 495px;
  margin-right: 55px;
  position: relative;
}
.curator__img img {
  left: 19px;
}
.curator__img::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 250px;
  top: -65px;
  left: -160px;
  background: url(../img/circle-curator.svg) 0 0 no-repeat;
  z-index: -1;
}
.curator__img::after {
  position: absolute;
  content: "";
  width: 495px;
  height: 580px;
  top: 20px;
  left: -19px;
  background: #FFCF2D;
  border-radius: 4px;
  z-index: -1;
}
.curator__info {
  padding-top: 20px;
  max-width: 600px;
}
.curator__subtitle:not(:last-child) {
  margin-bottom: 8px;
}
.curator__title:not(:last-child) {
  margin-bottom: 16px;
}
.curator__position {
  font-size: 20px;
  line-height: 150%;
  color: #787A80;
}
.curator__position:not(:last-child) {
  margin-bottom: 32px;
}
.curator__statistics {
  margin-bottom: 32px;
}
.curator__statistics > * {
  padding-left: 24px;
  position: relative;
  font-weight: 700;
}
.curator__statistics > [class^=_icon-]::before, .curator__statistics > [class*=" _icon-"]::before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5.7px 0;
  color: #FF3F3A;
}
.curator__statistics > *:not(:last-child) {
  margin-bottom: 4px;
}
.curator__text:not(:last-child) {
  margin-bottom: 40px;
}
.curator__share .share__item:not(:last-child) {
  margin-right: 30px;
}