@import url("reset.css");
@import url("iconfonts.css");
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff2") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424551;
  line-height: 160%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 15px;
  border-radius: 5px;
  position: relative;
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.subtitle {
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
  text-transform: uppercase;
}

.join-btn {
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  font-size: 14px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: #fff;
  border: 1px solid #ff3f3a;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.join-btn:hover {
  background: rgba(255, 255, 255, 0);
  color: #ff3f3a;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}
.share__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.share [class^=_icon-],
.share [class*=" _icon-"] {
  color: #787A80;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 20px;
}
.share [class^=_icon-]:hover,
.share [class*=" _icon-"]:hover {
  color: #FF3F3A;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.95) -o-linear-gradient(34.05deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: rgba(255, 255, 255, 0.95) linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 160%;
}
.header__logo {
  margin-right: 60px;
}
.header__buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  position: relative;
}
.menu__item:hover {
  color: rgb(255, 63, 58);
}
.menu__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: rgb(255, 63, 58);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.menu__item:hover:before {
  width: 100%;
  left: 0;
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
.menu__item--active {
  color: #FF3F3A;
}

.buttons__consultation {
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  padding: 0 40px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  border: 1px solid #ff3f3a;
  color: #fff;
  margin-right: 36px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.buttons__consultation:hover {
  background: rgba(255, 255, 255, 0);
  color: #ff3f3a;
}
.buttons__login {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.buttons__login::before {
  margin-right: 10px;
}
.buttons__login::after {
  content: " /";
  color: #424551;
}
.buttons__login:hover::after {
  color: #424551;
}
.buttons__registr {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.buttons__login:hover, .buttons__registr:hover {
  color: #ff3f3a;
}

.event {
  background: url(../img/circles.svg) 0 100% no-repeat, url(../img/dots.svg) 100% 123px no-repeat, url(../img/shapes.svg) 10% 128px no-repeat, url(../img/arrows.svg) 90% 100% no-repeat, -o-linear-gradient(34.05deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: url(../img/circles.svg) 0 100% no-repeat, url(../img/dots.svg) 100% 123px no-repeat, url(../img/shapes.svg) 10% 128px no-repeat, url(../img/arrows.svg) 90% 100% no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  margin-bottom: 120px;
}
.event__container {
  text-align: center;
  padding: 192px 0 120px;
}
.event__subtitle.subtitle {
  color: #FF3F3A;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.event__title {
  max-width: 1020px;
  margin: 0 auto;
}

.about-course__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 180px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.about-course__description {
  max-width: 600px;
}
.about-course__sidebar {
  max-width: 495px;
}

.description {
  margin-right: 15px;
}
.description__title:not(:last-child) {
  margin-bottom: 40px;
}
.description__text:not(:last-child) {
  margin-bottom: 48px;
}
.description__subtitle {
  font-size: 28px;
  text-transform: unset;
}
.description__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.description__list:not(:last-child) {
  margin-bottom: 24px;
}
.description__item {
  padding-left: 32px;
  position: relative;
}
.description__item[class^=_icon-]::before, .description__item[class*=" _icon-"]::before {
  position: absolute;
  left: 0;
  top: 5.7px;
  color: #FF3F3A;
}
.description__item:not(:last-child) {
  margin-bottom: 4px;
}

.sidebar {
  border: 1px solid #E5E8ED;
  padding: 40px 32px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.sidebar__block {
  margin-bottom: 32px;
}
.sidebar__block:last-of-type {
  margin-bottom: 40px;
}
.sidebar__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.sidebar__info-subtitle {
  color: #FF3F3A;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 8px;
}
.sidebar__info-text {
  color: #787A80;
}
.sidebar__join {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.curator {
  padding-top: 66px;
  margin-bottom: 180px;
}
.curator__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.curator__img {
  max-width: 495px;
  margin-right: 55px;
  position: relative;
}
.curator__img img {
  left: 19px;
}
.curator__img::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 250px;
  top: -65px;
  left: -160px;
  background: url(../img/circle-curator.svg) 0 0 no-repeat;
  z-index: -1;
}
.curator__img::after {
  position: absolute;
  content: "";
  width: 495px;
  height: 580px;
  top: 20px;
  left: -19px;
  background: #FFCF2D;
  border-radius: 4px;
  z-index: -1;
}
.curator__info {
  padding-top: 20px;
  max-width: 600px;
}
.curator__subtitle:not(:last-child) {
  margin-bottom: 8px;
}
.curator__title:not(:last-child) {
  margin-bottom: 16px;
}
.curator__position {
  font-size: 20px;
  line-height: 150%;
  color: #787A80;
}
.curator__position:not(:last-child) {
  margin-bottom: 32px;
}
.curator__statistics {
  margin-bottom: 32px;
}
.curator__statistics > * {
  padding-left: 24px;
  position: relative;
  font-weight: 700;
}
.curator__statistics > [class^=_icon-]::before, .curator__statistics > [class*=" _icon-"]::before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5.7px 0;
  color: #FF3F3A;
}
.curator__statistics > *:not(:last-child) {
  margin-bottom: 4px;
}
.curator__text:not(:last-child) {
  margin-bottom: 40px;
}
.curator__share .share__item:not(:last-child) {
  margin-right: 30px;
}

.homework {
  margin-bottom: 50px;
}
.homework > *:last-child {
  margin-bottom: 0;
}
.orange-btn {
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  font-size: 14px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: #fff;
}

.state {
  position: relative;
}
.state__link {
  display: block;
  padding: 20px 0;
  text-align: center;
}
.state__link:not(:last-of-type) {
  margin-bottom: 50px;
}
.state__link:nth-child(odd):hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, #eb716c), color-stop(0%, #F75E05));
  background: -o-linear-gradient(left, #eb716c 100%, #F75E05 0%);
  background: linear-gradient(90deg, #eb716c 100%, #F75E05 0%);
  text-transform: uppercase;
}
.state__link:nth-child(even):focus {
  outline: 15px dotted red;
}
.state__link:nth-child(2) {
  text-transform: uppercase;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#73e257), color-stop(50%, #1619c7));
  background: -o-linear-gradient(left, #73e257 0%, #1619c7 50%);
  background: linear-gradient(90deg, #73e257 0%, #1619c7 50%);
}
.state__link:nth-child(2):before, .state__link:nth-child(2):after {
  line-height: 30px;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: url(../img/icons/star.svg) 50% 50% no-repeat, #fff;
  display: inline-block;
  vertical-align: middle;
}
.state__link:active {
  background: -webkit-gradient(linear, left top, right top, from(#eb716c), color-stop(50%, #F75E05));
  background: -o-linear-gradient(left, #eb716c 0%, #F75E05 50%);
  background: linear-gradient(90deg, #eb716c 0%, #F75E05 50%);
}
.state__link:visited {
  color: #fff111;
}
.state__link {
  display: block;
  padding: 20px 0;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.state #hidden-div {
  display: none;
  color: #E5E8ED;
  font-size: 32px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: -155px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background: -webkit-gradient(linear, left top, right top, from(#73e257), color-stop(50%, #1619c7));
  background: -o-linear-gradient(left, #73e257 0%, #1619c7 50%);
  background: linear-gradient(90deg, #73e257 0%, #1619c7 50%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.state #hidden-div:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.state .hidden-circle {
  display: none;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#73e257), color-stop(50%, #1619c7));
  background: -o-linear-gradient(left, #73e257 0%, #1619c7 50%);
  background: linear-gradient(90deg, #73e257 0%, #1619c7 50%);
  color: #e92b74;
  font-size: 32px;
  font-weight: 900;
  top: 100px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.state .hidden-circle:nth-of-type(2) {
  left: 10px;
}
.state .hidden-circle:nth-of-type(3) {
  left: 200px;
}
.state .hidden-circle:nth-of-type(4) {
  left: 400px;
}
.state .hidden-circle:nth-of-type(5) {
  left: 950px;
}
.state #hidden-div:hover {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.state #hidden-div:hover ~ * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.game {
  margin-bottom: 50px;
  cursor: crosshair;
}
.game__field {
  height: 550px;
  width: 100%;
  border-radius: 10px;
  background: #f1d6d5;
}

.path-start.path {
  position: relative;
  height: 50px;
  width: 100px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: visible;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  background-color: #FF3F3A;
}

.path-start:hover + .path {
  visibility: visible;
}

.path:hover {
  visibility: visible;
}

.path:hover + .path {
  visibility: visible;
}

.first {
  width: 50%;
  height: 50px;
}

.second {
  width: 30%;
  height: 50px;
  margin-left: 40%;
}

.third {
  width: 10%;
  height: 150px;
  margin-left: 60%;
}

.fourth {
  width: 50%;
  height: 50px;
  margin-left: 20%;
}

.fifth {
  width: 4%;
  height: 50px;
  margin-left: 20%;
}

.sixth {
  width: 30%;
  height: 20px;
  margin-left: 20%;
}

.seventh {
  width: 1%;
  height: 80px;
  margin-left: 49%;
}

.finish {
  width: 11%;
  height: 50px;
  margin-left: 44%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__field:has(> .finish:hover) {
  background: url(../img/thatsallfolkx.webp) center/cover no-repeat;
}

.footer {
  height: 50px;
  background: #1E212C;
}